/* 导入xterm.js样式 */
@import 'xterm/css/xterm.css';

/* 全局样式 */
body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    color: #ffffff;
}

* {
    box-sizing: border-box;
}
